<div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">APP TEMPLATE 2</h4>       
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email..." name="email" [(ngModel)]="email" required>
          </div>
          <div class="form-group ">
            <button type="submit" class="form-control btn btn-primary" (click)="resetPassword()">Send password reset email</button>
          </div>
        </form>
        <br>
        <p *ngIf="message" class="text-danger">
          {{ message }}
        </p>
      </div>
    </div>
  </div>