<div class="toolbar">
    <button class="toolbar-item" (click)="save()">
        <span class="far fa-save text-success"></span>
        Save & Close
     </button>
     <button class="toolbar-item" (click)="cancel()">
        <span class="fas fa-times text-danger"></span>
        Cancel
     </button>
</div>
<br>
<div class="form-group row">
    <h5 class="col-2">New password</h5>
    <div class="col-lg-4 col-md-5">
        <input name="password" class="form-control" type="password" [(ngModel)]="password" [readonly]="readonly" />
    </div>
</div>
<div class="form-group row">
    <h5 class="col-2">Confirm password</h5>
    <div class="col-lg-4 col-md-5">
        <input name="confirmPassword" class="form-control" type="password" [(ngModel)]="confirmPassword" (keyup.enter)="save()" [readonly]="readonly" />
    </div>
</div>

<div class="text-danger">
    {{ message }}
</div>


