<!-- Wrapper -->
<div id="wrapper"  class="d-flex" [ngClass]="{'sidebar-hidden':layoutState.sidebarHidden}">
    <!-- Sidebar -->
    <div id="sidebar">
        <div id="sidebar-heading">
            <h4 class="float-left">App Template 2</h4>
        </div>
        <div id="sidebar-top">
            <div class="group">
                <div class="group-heading" (click)="toggleGroup(layoutState.groupOne)">
                    GROUP ONE
                    <span *ngIf="layoutState.groupOne.hidden" class="fas fa-caret-down float-right"></span>
                    <span *ngIf="!layoutState.groupOne.hidden" class="fas fa-caret-up float-right"></span>
                </div>
                <ul id="group-one" class="sidebar-list" [hidden]="layoutState.groupOne.hidden">
                    <li class="sidebar-list-item" (click)="openSection(layoutState.sectionOne)" [ngClass]="{'active':layoutState.activeSection.id === layoutState.sectionOne.id }">
                        <span class="icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        Section One
                    </li>
                </ul>
            </div>
            <div class="group">
                <ul class="sidebar-list">
                    <li class="sidebar-list-item" (click)="openSection(layoutState.sectionTwo)" [ngClass]="{'active':layoutState.activeSection.id === layoutState.sectionTwo.id }">
                        <span class="icon">
                            <i class="far fa-building"></i>
                        </span>
                        Section Two
                    </li>
                    <li class="sidebar-list-item" (click)="openSection(layoutState.sectionThree)" [ngClass]="{'active':layoutState.activeSection.id === layoutState.sectionThree.id}">
                        <span class="icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        Section Three
                    </li>
                </ul>
            </div>
        </div>   
        
        <div id="sidebar-bottom">
            <ul class="sidebar-list">
                <li class="sidebar-list-item" (click)="openSection(layoutState.profile)" [ngClass]="{'active':layoutState.activeSection.id === layoutState.profile.id }">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    Profile
                </li>
                <li class="sidebar-list-item" (click)="openSection(layoutState.settings)" [ngClass]="{'active':layoutState.activeSection.id === layoutState.settings.id }">
                    <span class="icon">
                        <i class="fas fa-cog"></i>
                    </span>
                    Settings
                </li>
            </ul>
        </div>
    </div>

   <!-- Tabs -->
    <app-tabs id="tabs"></app-tabs>

    <!-- Page Content -->
    <div id="page-content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


