<!-- Wrapper -->
<div id="wrapper"  class="d-flex" [ngClass]="{'sidebar-hidden':!layoutState.showSidebar, 'mobile-view':layoutState.mobileView}">
    <!-- Sidebar -->
    <div id="sidebar">
        <div id="sidebar-heading">
            <h4 class="noselect">App Template 2</h4>
        </div>
        <div id="sidebar-top">
            <div class="group">
                <div class="group-heading noselect" (click)="toggleSectionGroup(layoutState.groupOne)">
                    <h5>GROUP ONE
                        <span *ngIf="layoutState.groupOne.hidden" class="fas fa-caret-down float-right"></span>
                        <span *ngIf="!layoutState.groupOne.hidden" class="fas fa-caret-up float-right"></span>
                    </h5>
                </div>
                <ul id="group-one" class="sidebar-list" [hidden]="layoutState.groupOne.hidden">
                    <li class="sidebar-list-item" (click)="activateSection(layoutState.sectionOne)" [ngClass]="{'active':activeSection.id === layoutState.sectionOne.id }">
                        <span class="icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        <span class="noselect">
                            Section One
                        </span>
                        
                    </li>
                </ul>
            </div>
            <div class="group">
                <ul class="sidebar-list">
                    <li class="sidebar-list-item" (click)="activateSection(layoutState.sectionTwo)" [ngClass]="{'active':activeSection.id === layoutState.sectionTwo.id }">
                        <span class="icon">
                            <i class="far fa-building"></i>
                        </span>
                        <span class="noselect">
                            Section Two
                        </span>
                        
                    </li>
                    <li class="sidebar-list-item" (click)="activateSection(layoutState.sectionThree)" [ngClass]="{'active':activeSection.id === layoutState.sectionThree.id}">
                        <span class="icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        <span class="noselect">
                            Section Three
                        </span>
                    </li>
                </ul>
            </div>
        </div>   
        
        <div id="sidebar-bottom">
            <ul class="sidebar-list">
                <li class="sidebar-list-item" (click)="activateSection(layoutState.profile)" [ngClass]="{'active':activeSection.id === layoutState.profile.id }">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="noselect">
                        {{ userDisplayName }}
                    </span>
                </li>
                <li class="sidebar-list-item" (click)="activateSection(layoutState.settings)" [ngClass]="{'active':activeSection.id === layoutState.settings.id }">
                    <span class="icon">
                        <i class="fas fa-cog"></i>
                    </span>
                    <span class="noselect">
                        Settings
                    </span>
                </li>
            </ul>
        </div>
    </div>

   <!-- Tabs -->
    <app-tabs id="tabs"></app-tabs>

    <!-- Page Content -->
    <div id="page-content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Modals -->
<div id="backdrop" [hidden]="!showBackdrop"></div>
<div id="modal-placeholder" #modalPlaceholder></div>

